#content
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    h1
      p
        if self.progress
          a.btn.btn-primary(href='#', data-on-click='admin.vbconvert.stop') #{self.t('stop')}
        else
          a.btn.btn-primary(href='#', data-on-click='admin.vbconvert.start') #{self.t('start')}
