applications:
  - nodeca.vbconvert

vbconvert:

  # Base url of the new forum;
  # used for quotes and snippet (topic, post) urls
  destination: 'https://dev.rcopen.com/'

  # Connection details for mysql
  database: 'mysql://root@localhost/vbforum'

  # Usergroup mapping
  usergroups:
    1: guests
    2: members
    6: administrators
    8: banned
    12: violators
    3: false
    4: false
    5: false
    9: false
    29: false

  # Path to the folder where attachments are stored in
  files: '/tmp/www/uploads/posts'

  # Path to the folder with avatar original pictures ("big" ones)
  avatars: '/tmp/www/custombigprofilepics'

  # Original smilies -> markdown-it smilies
  smiley_map:
    ':mellow:':        ':)' # ?
    ':o':              ':o'
    ';)':              ';)'
    ':P':              ':P'
    ':D':              ':grin:'
    ':lol:':           ':laughing:'
    'B)':              'B-)'
    ':rolleyes:':      ':unamused:'
    '-_-':             ':relieved:'
    ':)':              ':)'
    ':wub:':           ':heart_eyes:'
    ':(':              ':('
    ':unsure:':        ':)' # ?
    ':wacko:':         ':dizzy_face:'
    ':blink:':         ':)' # ?
    ':excl:':          ':exclamation:'
    ':devil:':         ':smiling_imp:'
    ':innocent:':      ':innocent:'
    ':bash:':          ':)' # ?
    ':angry:':         ':angry:'
    ':ninja:':         ':)' # ?
    ':blush:':         ':blush:'
    ':bleh:':          ':stuck_out_tongue_closed_eyes:'
    ':coffee:':        ':coffee:'
    ':megalol:':       ':joy:'
    ':haha:':          ':sweat_smile:'
    ':clap:':          ':)' # ?
    ':harhar:':        ':stuck_out_tongue_winking_eye:'
    ':licklips:':      ':yum:'
    ':gun_rifle:':     ':)' # ?
    ':drinks_cheers:': ':)' # ?
    ':cry:':           ':cry:'
    ':beer:':          ':)' # ?
    ':thumbsup:':      ':)' # ?
    ':wow:':           ':astonished:'
    ':confused:':      ':-/'
    ':?:':             ':question:'

  # list of domains to force https on (subdomains included)
  force_https:
   - yandex.ru
   - googleusercontent.com
   - mail.ru
   - pp.vk.me
   - hobbyking.com
   - ggpht.com
   - staticflickr.com
   - imgur.com
   - dropbox.com
   - dropboxusercontent.com
   - fbcdn.net
   - akamaihd.net
   - wikimedia.org
   - livefilestore.com
   - yandex.net
   - habrastorage.org
   - google.com
   - avito.st
   - gstatic.com
   - cloudfront.net
   - gyazo.com
   - d-cd.net
   - yadi.sk
   - amazonaws.com
   - wordpress.com
   - twimg.com
   - ytimg.com
   - fotocdn.net
   - tumblr.com
